.layout{
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
}

.slider-home{
    width: 40vw !important;
}

.display-drop{
    display: grid;
    grid-template-columns: 1.5fr 1fr;

}

.display-grid{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 0.8fr 0.7fr 1fr;
}

.css-187mznn-MuiSlider-root{
    width: 32vw !important;
}

.slider-arrange{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 0.3fr 1fr 0.9fr 0.01fr;
    margin-left: 8vw;
}

.chart-size{
    width: 5vw !important;
}

.button-annotation{
    margin-left: 30px;
}

.anotations{
    margin-left: 10px;
    background-color: #f2f2f5;
}

.list-group-item{
    background-color: #f2f2f5 !important;
    align-items: left;
}